go 1.23.4

use (
	./libs/blueprint
	./libs/blueprint-resolvers
	./libs/blueprint-state
	./libs/common
	./libs/plugin-framework
	./tools/blueprint-ls
	./tools/plugin-docgen
	./apps/cli
	./apps/deploy-engine
)
