[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-type-annotations = "*"
aws-xray-sdk = "*"
nanoid = "*"
pylint = "*"
autopep8 = "*"
mypy = "*"
python-dotenv = "*"
click = "*"

[requires]
python_version = "3.10"